
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;&family=Josefin+Sans&family=Lato&family=Montserrat:wght@400;700&family=Poppins:wght@400;&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header section style start */
.header_menu{
    height: 12vh;
    width: 100%;
    background-color: #562EFF;

}

.header_menu .navigation_menu{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation_menu .logo_area{
    display: flex;
    align-items: center;
}
.navigation_menu .logo_area .logo{
    height: 10vh;
}

.navigation_menu .logo_area .logo_name{
    font-size: 30px;
    font-family: 'Poppins', sans-serif; 
    color: white;
    padding: 20px;
    font-weight: 500;

}

.navigation_menu ul{
    display: flex;
    align-items: center;
    
}
.navigation_menu ul li{
    list-style: none;
    width: 100px;
    
}
.navigation_menu ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
}
/* header section style end */

/* main body section style start */
.main_body{
    height: auto;
    width: 100%;
    background-color: #F3F1FF;
    display: flex;
    justify-content: center;
}
/* main body section style end */


/* <!-- Top players and blogs section start --> */
.main_body .players_blogs.continer{
    height: 100%;
    width: 60%;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
}

.continer h2{
    color: #562EFF;
    font-family: 'Poppins', sans-serif; 
    padding: 20px 20px 0px 20px;
    font-size: 25px;
    font-weight: 500;
}

.top_players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.players_counter{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
}

.top_players .players_counter img{
    height: 60px;
    width: 60px;
    margin: 20px;  
}

hr{
    border: 0px solid #D1D1D1;
    border-bottom: 2px solid #D1D1D1;
    width: 95%;
    margin: auto;
}
