
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans&family=Lato&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header section style start */
.header_menu{
    height: 12vh;
    width: 100%;
    background-color: #562EFF;

}

.header_menu .navigation_menu{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation_menu .logo_area{
    display: flex;
    align-items: center;
}
.navigation_menu .logo_area .logo{
    height: 10vh;
}

.navigation_menu .logo_area .logo_name{
    font-size: 30px;
    font-family: 'Poppins', sans-serif; 
    color: white;
    padding: 20px;
    font-weight: 500;

}

.navigation_menu ul{
    display: flex;
    align-items: center;
    
}
.navigation_menu ul li{
    list-style: none;
    width: 100px;
    
}
.navigation_menu ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
}
/* header section style end */
